<!DOCTYPE html>
<html>
  <head>
    <title>Long Trails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css" rel="stylesheet">
    <!-- <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCycpe2tPcegB9oMgXZZnGjZJFCKaqaJmI"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": "<%= current_user.id %>",
          "first_name": "<%= current_user.first_name %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
